# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\back-end\spring-note\mvn-spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
